#!/bin/bash

set -e

mount_unit=$1
test_path=$2

while true; do
    if [ -d "$test_path" ]; then
        echo "Directory $test_path exists."
        sleep 60
        break
    fi

    echo "Directory $test_path does not exist."
    systemctl --user start $mount_unit.mount
    sleep 10
done
