- name: Prepare systemd user services directory
  file:
    path: "{{ ansible_user_dir }}/.config/systemd/user"
    state: directory

- name: Prepare systemd quadlet directory
  file:
    path: "{{ ansible_user_dir }}/.config/containers/systemd"
    state: directory
  tags: containers

- name: Create user service files
  template:
    src: "systemd.service.j2"
    dest: "{{ ansible_user_dir }}/.config/systemd/user/{{ item.key | replace('_', '-') }}.service"
  loop: "{{ user_services | dict2items }}"
  notify: systemd reload user-mode
  when: item.value.get('create', True)

- name: Create user timer files
  template:
    src: "systemd.timer.j2"
    dest: "{{ ansible_user_dir }}/.config/systemd/user/{{ item.key | replace('_', '-') }}.timer"
  vars:
    timer:
      name: "{{ item.key }}"
      time: "{{ item.value.get('calendar') }}"
  loop: "{{ user_services | dict2items }}"
  notify: systemd reload user-mode
  when: '"calendar" in item.value'

- name: Create user service scripts
  copy:
    dest: "{{ ansible_user_dir }}/.local/bin/service_{{ item.key }}.sh"
    mode: 'u=rwx,g=rwx,o='
    content: |
      #!/bin/bash -e

      {{ item.value.script }}
  loop: "{{ user_services | dict2items }}"
  when: '"script" in item.value'

- name: Create volume paths on host for quadlets
  file:
    path: "{{ item }}"
    state: directory
  loop: "{{ quadlets | dict2items | map(attribute='value.volumes') | list | flatten | unique | map('split', ':') | map('first') }}"
  tags: containers

- name: Create quadlet network files on host for quadlets
  file:
    path: "{{ ansible_user_dir }}/.config/containers/systemd/{{ item.value.network }}"
    state: touch
  loop: "{{ quadlets | dict2items }}"
  when: "'network' in item.value and item.value.network.endswith('.network')"
  tags: containers

- name: Create quadlet files
  template:
    src: "systemd.quadlet.j2"
    dest: "{{ ansible_user_dir }}/.config/containers/systemd/{{ item.key | replace('_', '-') }}.container"
  loop: "{{ quadlets | dict2items }}"
  notify: systemd reload user-mode
  tags: containers

- meta: flush_handlers

- name: Set configured state for user services
  systemd:
    name: "{{ item.key | replace('_', '-') }}{{ '.timer' if item.value.get('calendar') else '.service' }}"
    state: "{{ item.value.state | default('started' if item.value.enabled | default(true) else 'stopped') }}"
    enabled: "{{ item.value.enabled | default(true) }}"
    daemon_reload: true
    no_block: true
    scope: user
  loop: "{{ (user_services | combine(quadlets)) | dict2items }}"
  notify: systemd reload user-mode
  tags: containers
