- set_fact:
    _fzf_version: 0.67.0

- name: Extract fzf package
  unarchive:
    src: https://github.com/junegunn/fzf/releases/download/v{{ _fzf_version }}/fzf-{{ _fzf_version }}-linux_{{ ansible_architecture | arch }}.tar.gz
    dest: /usr/local/bin
    creates: /usr/local/bin/fzf
    mode: o=rwx,g=rx,u=rx
    owner: root
    group: root
    remote_src: true

- name: Clone fzf repository
  git:
    repo: https://github.com/junegunn/fzf.git
    dest: /usr/local/share/fzf
    version: "v{{ _fzf_version }}"
