services:
    flood:
        image: jesec/flood:master
        user: root
        ports:
            - "{{ loopback_ip }}:3000:3000"
        restart: unless-stopped
        environment:
            HOME: /config
        volumes:
            - "{{ ansible_user_dir }}/.config/flood:/config"
            - "{{ torrents_dir }}:/data"
        command: --allowedpath /data --baseuri {{ flood_url_root }}

    rtorrent:
        image: jesec/rtorrent:master
        user: 0:0
        restart: unless-stopped
        command: -o network.port_range.set=6881-6881,system.daemon.set=true
        environment:
            HOME: /config
        volumes:
            - "{{ ansible_user_dir }}/.config/flood:/config"
            - "{{ torrents_dir }}:/data"
