[Unit]
{% if item.value.name is defined %}
Description={{ item.value.name}}
{% endif %}

{% if item.value.depend is defined %}
After={{ item.value.depend }}
Requires={{ item.value.depend }}
{% endif %}

{% if item.value.after is defined %}
After={{ item.value.after }}.target
{% endif %}

[Service]
{% if item.value.type is defined %}
Type={{ item.value.type }}
{% endif %}
{% if item.value.cmd is defined %}
ExecStart=/bin/bash -c "{{ item.value.cmd.strip().replace('\n', ' && \\\n') }}"
{% endif %}
{% if item.value.podman is defined %}
ExecStart=/bin/bash -c "podman start {{ item.value.podman }}"
ExecStop=/bin/bash -c "podman stop {{ item.value.podman }}"
{% endif %}
{% if item.value.script is defined %}
ExecStart={{ ansible_user_dir }}/.local/bin/service_{{ item.key }}.sh
{% endif %}

{% if item.value.workdir is defined %}
WorkingDirectory={{ item.value.workdir }}
{% endif %}

{% if item.value.get('restart', True) and not item.value.get('calendar') and not item.value.get('type') == 'oneshot' %}
Restart=always
RestartSec=5s
StartLimitBurst=15
StartLimitInterval=5m
{% endif %}

[Install]
WantedBy=default.target
