# TODO:
# - user scope support

- name: List services
  shell: systemctl list-units --all --no-legend | awk '{print $1}'
  register: service_list
  changed_when: false
  become: true

- name: Disable service {{ service_name }}
  systemd:
    name: "{{ service_name }}"
    enabled: false
    state: stopped
  become: true
  when: service_name + '.service' in service_list.stdout_lines

- name: Disable timer for {{ service_name }}
  when:
    - service_timer
    - service_name + '.timer' in service_list.stdout_lines
  systemd:
    name: "{{ service_name }}.timer"
    enabled: false
    state: stopped
  become: true

- set_fact:
    _service_path: "{{ service_path | default('/usr/local/lib/systemd/system/' + service_name + '.service') }}"

- name: Remove service files for {{ service_name }}
  file:
    path: "{{ _service_path }}"
    state: absent
  become: true
  notify: systemd reload

- name: Remove timer files for {{ service_name }}
  when: service_timer | default(false)
  file:
    path: "{{ _service_path | regex_replace('\\.service$', '.timer') }}"
    state: absent
