{
	debug

	log stdout {
		output stdout
		format console
		level debug
	}
	log access_log {
		output file {{ caddy_access_log | default('/var/log/caddy/access.log') }}
	}
	{% for name, output in (caddy_logs_outputs| default({})).items() %}
	log {{ name }} {
		output {{ output }}
		format json
		level info
	}
	{% endfor %}

	{% if caddy_prometheus %}
	servers {
		metrics
	}
	{% endif %}


	{% if not caddy_https %}
	auto_https off
	{% endif %}

	{% if caddy_email %}
	email {{ caddy_email }}
	{% endif %}

	{{ caddy_global_extra | default('') }}
}

{% if http_domain %}
:80 {
	{% if caddy_https %}
	redir https://{{ http_domain }}
	{% else %}
	redir http://{{ http_domain }}
	{% endif %}
}
{% endif %}

(common) {
	log stdout
	log access_log
	{% for output in caddy_logs_outputs | default({}) %}
	log {{ output }}
	{% endfor %}
}

(robots_on) {
	respond /robots.txt 200 {
		body "
User-agent: AdsBot-Google
User-agent: *
Allow: /
		"
	}
}

(robots_off) {
	respond /robots.txt 200 {
		body "
User-agent: AdsBot-Google
User-agent: *
Disallow: /
		"
	}
}

{% if caddy_entries %}
import Caddyfile.d/*.conf
{% endif %}

{% if caddy_extra is defined %}
{{ caddy_extra }}
{% endif %}
