{
	debug

	log {
		format console
		level debug
	}

	{% if not caddy_https %}
	auto_https off
	{% endif %}

	{% if caddy_email %}
	email {{ caddy_email }}
	{% endif %}
}

{% if http_domain and caddy_https %}
:80 {
	redir https://{{ http_domain }}
}
{% endif %}

(common) {
	log
}

{% if caddy_entries %}
import Caddyfile.d/*.conf
{% endif %}
