#jinja2:lstrip_blocks: True
{% set entry = item.domain %}
{% if not caddy_https %}
{% set entry = 'http://' + entry %}
{% endif %}

{% if "paths" in item %}
{% include "caddy/entry_v2.j2" %}
{% else %}
{% include "caddy/entry_v1.j2" %}
{% endif %}
