if [ -f {{ backups_secrets_file }} ]; then
  source {{ backups_secrets_file }}
fi

send_webhook() {
  if [ -z "$WEBHOOK_URL" ]; then
    return
  fi

  {% raw %}
  local msg="$(printf '%b' "$*")"
  while [ ${#msg} -gt 0 ]; do
    part="${msg:0:1900}"
    curl -X POST -H 'Content-type: application/json' \
      -d "$(jq -n --arg m "$part" '{content: $m}')" \
      "$WEBHOOK_URL"
    msg="${msg:1900}"
  done
  {% endraw %}
}

logmsg() {
  echo -e "$@"
  send_webhook "$@"
}

export BORG_RELOCATED_REPO_ACCESS_IS_OK=yes

{% for repo in backups_repos %}

{% set keep = repo.get('keep', backup_repos_keep_defaults) %}

prune_dry=$(
  borg prune --list \
  --dry-run \
  {% for period, value in keep.items() %}
  --keep-{{ period }} "{{ value }}" \
  {% endfor %}
  "{{ repo.path }}" 2>&1
)
echo "$prune_dry"

{% if not repo.get('dry_run', False) %}
prune_stats=$(
  borg prune --stats \
  {% for period, value in keep.items() %}
  --keep-{{ period }} "{{ value }}" \
  {% endfor %}
  "{{ repo.path }}" 2>&1
)
{% endif %}

deleted_archives=$(
  echo "$prune_dry" \
  | grep -E "(Pruning archive|Would prune)" \
  | sed -E 's/^(Would prune|Pruning archive):[[:space:]]*//' \
  | cut -d' ' -f1
)
if [ -n "$deleted_archives" ]; then
  {% if not repo.get('dry_run', False) %}
  {% set keep_label = keep.items() | map('join', '=') | join(', ') %}
  logmsg "borg prune ({{ keep_label }}) in {{ repo.path }}:\n"'```'"\n$prune_stats\n"'```'
  {% endif %}

  logmsg "Deleted archives in {{ repo.path }}:\n$deleted_archives"

  kept_archives=$(
    echo "$prune_dry" \
    | grep -E "(Keeping archive|Would keep)" \
    | sed 's/.*): *//' \
    | cut -d' ' -f1
  )
  if [ -n "$kept_archives" ]; then
    logmsg "Kept archives in {{ repo.path }}:\n$kept_archives"
  fi

  borg compact {% if repo.get('dry_run', False) %}--dry-run{% endif %} \
  "{{ repo.path }}"
fi

{% if repo.get('rclone_remote') %}
rclone_sync=$(
  rclone sync -v \
  {% if repo.get('dry_run', False) %}--dry-run{% endif %} \
  "{{ repo.path }}/" \
  "{{ repo.rclone_remote }}" 2>&1
)
nothing_transferred="INFO  : There was nothing to transfer"
if ! echo "$rclone_sync" | grep -q "$nothing_transferred"; then
  echo "$rclone_sync"
  rclone_sync=$(
    echo "$rclone_sync" \
    | grep -v -E " (NOTICE:|INFO  :) "
  )
  send_webhook "rclone ({{ repo.rclone_remote }}):\n"'```'"$rclone_sync"'\n```' >/dev/null
fi
{% endif %}
{% endfor %}
