- hosts: localhost
  vars:
    # Dots at the end of CNAME are required to target fqdns and not subdomains.
    # See https://docs.dnscontrol.org/language-reference/why-the-dot
    records:
      laffey-ii.tina.moe:
        type: A
        value: 51.68.155.121
      cachan.savatier.fr:
        type: A
        value: 82.67.133.52
      champigny.savatier.fr:
        type: A
        value: 82.64.184.254
      evertsen.tina.moe:
        type: A
        value: 51.15.34.63
      asashio.tina.moe:
        type: CNAME
        value: home.tina.moe.
      turbo.tina.moe:
        type: CNAME
        value: champigny.savatier.fr.
      home.tina.moe:
        type: CNAME
        value: cachan.savatier.fr.
      "*.tina.moe":
        type: CNAME
        value: laffey-ii.tina.moe.
      savatier.fr:
        type: A
        value: "{{ records['laffey-ii.tina.moe'].value }}"
      "*.savatier.fr":
        type: CNAME
        value: savatier.fr.
      fairyjoke.net:
        type: A
        value: "{{ records['laffey-ii.tina.moe'].value }}"
      "*.fairyjoke.net":
        type: CNAME
        value: fairyjoke.net.
      asso-msn.fr:
        type: A
        value: "{{ records['laffey-ii.tina.moe'].value }}"
      "*.asso-msn.fr":
        type: CNAME
        value: asso-msn.fr.
      lelap.in:
        type: A
        value: "{{ records['laffey-ii.tina.moe'].value }}"
      "*.lelap.in":
        type: CNAME
        value: lelap.in.

    hosts_with_cnames_for_every_caddy_domain:
      - asashio

  tasks:
    - name: Apply records
      ovh_dns:
        state: present
        domain: "{{ item.key | domain_from_fqdn }}"
        name: "{{ item.key | name_from_fqdn }}"
        type: "{{ item.value.type }}"
        value: "{{ item.value.value }}"
        ttl: 0
      loop: "{{ records | dict2items }}"
    - name: Add aliases for all caddy domains
      ovh_dns:
        state: present
        domain: "{{ item.domain | domain_from_fqdn }}"
        name: "{{ item.domain | name_from_fqdn }}"
        type: CNAME
        value: "{{ item.host }}.tina.moe."
        ttl: 0
      loop: |
        {% set result = [] %}
        {% for host in hosts_with_cnames_for_every_caddy_domain %}
        {%   for entry in hostvars[host].caddy_entries %}
        {%     if entry.domain | split(':') | length == 1 and entry.domain != host + '.tina.moe' %}
        {%       set _ = result.append({'domain': entry.domain, 'host': host}) %}
        {%     endif %}
        {%   endfor %}
        {% endfor %}
        {{ result }}
